/*import fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
html {
    background-color: #F5F5F5;
    margin: 0;
}
body {
    font-family: 'Quicksand', sans-serif;
    color: #1A1A1A;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin: 0;
    height: 100vh;
}
#start-btn {
    color:#f3f3f3;
    font-size: 2rem;
    margin-top: 2rem;
    width: 6rem;
    height: 6rem;
    border-radius: 5rem;
    border: none;
    background-color: #5C0808;
    transition: ease-in-out 0.2s;
}
#start-btn:hover {
    background-color: #25DB6E;
    transition: ease-in-out 0.2s;
    color: #000000;
}
#title {
    margin-top: 8rem;;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}
#main-content {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* Hidden letter boxes */
#box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 2rem;
    min-width: 2rem;
}
.boxes {
    border: none;
    color:rgb(29, 32, 32);
    min-height: 3rem;
    min-width: 3rem;
    max-height: 5rem;
    max-width: 5rem;
    background-color: #f3f3f3;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 0.2rem;
}

/* Hidden letter boxes ends */

/* Keyboard */
#keyboard {
    margin-top: 2rem;
    display: none;
    flex-wrap: wrap;
    gap: 1.5rem;
    max-width: 44rem;
}
.keys {
    font-size: 25px;
    background-color: aliceblue;
    color: rgb(29, 32, 32);
    width: 3rem;
    height: 3rem;
    min-height: 3rem;
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.3s;
    border: none;
    border-radius: 10px;
    margin: 0;
    filter: drop-shadow(1px 3px 5px #424242);
}
.keys:hover {
    background-color: rgb(178, 225, 225);
    transition: ease-in-out 0.3s;
}
.keys:active {
    filter: drop-shadow(1px 3px 5px #eaeaea);
    transition: ease-in-out 0.3s;
}
/* Keyboard ends */

/* Selection buttons */
#select-btn {
    margin-top: 5rem;
    display: none;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

/* Selection text */
#selectText {
    display: none;
}

/* Show random word */
#topic {
    display: none;
    font-size: 2rem;
}

canvas {
    margin-top: 2rem;
    border: none;
    background-color: #F5F5F5;
  }
  #canvas {
    width: 100vw;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    margin-top: 2rem;
  }