/*import fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
html {
    background-color: rgb(29, 32, 32);
}
body {
    font-family: 'Quicksand', sans-serif;
    color: rgb(228, 228, 228);
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}
#title {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}
#main-content {
    display: none;
    flex-direction: column;
    align-items: center;
}
#box-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.boxes {
    color:rgb(29, 32, 32);
    min-height: 3rem;
    min-width: 3rem;
    max-height: 5rem;
    max-width: 5rem;
    background-color: aliceblue;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 0.2rem;
}
#keyboard {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    max-width: 52rem;
}
.keys {
    font-size: 25px;
    background-color: aliceblue;
    color: rgb(29, 32, 32);
    width: 4rem;
    height: 4rem;
    min-height: 3rem;
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}